body{
  background-image: url('pics/homecover.jpg');
  background-size: cover;

}
.welcome{
  position:relative;
  padding-top: 60px;
}
body{
  background-color: black;
  color: white;
  margin:0px;
  

}