.navbar{
  background-color:black;
  display:flex;
  margin:0px;
  padding:10px;
  align-items: center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:30px;
  border-bottom-width: 1px;
  border-bottom-color:rgb(212, 205, 205);
  border-bottom-style: solid;
  z-index: 1000;
  
}
.header{
  color: white;
  display:flex;
  font-size: 20px;
  font-family: "Pacifico", cursive;
  font-weight: bold;
  font-style: normal;
  margin-right: 30px;
}
.buttons{
  display:flex;
 align-content: center;
 border-radius: 50px;
 width:25px;
 height:20px;
 border-style: none;
 background-color: rgb(225, 212, 212);
 margin-right: 10px;
}
.buttons:hover{
  cursor: pointer;
  background-color: rgb(193, 148, 148);
}
.button{
  flex-shrink: 0;
  display:flex;
  margin-left: 100px;
}
img{
  height:15px;
  width:15px;
  display: flex;
  margin-right: 20px;

}
.description{
  display:flex;
  align-items: center;
  font-size: 10px;
  margin-right: 5px;
  color: white;
  margin-top: 0px;
  margin-bottom: 5px;
}
.sb{
  flex:1;
  display:flex;
  border-radius: 50px;
  border-style: none;
  margin-left: 50px;
  width:150px;
  padding:5px;
  font-size: 10px;
  font-family:'Times New Roman', Times, serif;
}
.sb::placeholder{
  font-size: 10px;
  
}